h1 {
  text-align: center;
}

.container {
    max-width: 64rem;
    margin: auto;
}
#hero {
  margin: 1rem 0;
  padding: 8rem 5rem 1rem 5rem; 
  background-image: url('../images/composite.jpg');
  background-size: auto;
  color: #fff;
}

#hero h2 {
  padding: 1rem;
  background-color: #786666;
}

#hero p {
  padding: 1rem;
  background-color: #8e7979;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
